*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

header{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(77, 77, 77);
}

.navegacion{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.navegacion img{
    width: 240px;
    height: 85px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 20px;
    position: relative;
}

.navegacion ul{
    width: 550px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 65px;
    position: relative;
    right: 180px;
    font-size: 13.5px;
}

.navegacion ul li a{
    color: white;
}

.navegacion ul li a:hover{
    border-bottom: 2px solid white;
}
    

.navegacion .inicio-sesion{
    width: 120px;
    height: 45px;
    border: 2px solid white;
    position: relative;
    right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.navegacion .inicio-sesion:hover{
    background-color: white;
    cursor: pointer;

    a{
        color: rgb(26, 26, 26);
    }
}

.navegacion .inicio-sesion a{
    color: white;
    font-size: 13.5px;
}

header .presentacion{
    position: relative;
    left: 15px;
    top: 245px;
    width: 60%;
    color: white;
    
    h1{
        font-weight: bold;
        text-shadow: rgb(0, 0, 0) 12px 12px 12px;
    }
}

main{
    background-color: #060613;
}



.filtrar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .resultados{
        color: white;
        position: relative;
        right: 1050px;
        font-weight: normal;
        font-size: 18px;
    }
    
    div{
        width: 105px;
        height: 35px;
        border: 2px solid rgb(206, 206, 206);
        position: relative;
        right: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border-radius: 5px;
        cursor: pointer;

        span{
            color: white;
        }

        svg{
            color: white;
        }
    }
}

.filtrar div:hover{
    background-color: rgba(255, 255, 255, 0.068);
}

.cajas{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    grid-template-rows: repeat(3, 1fr); /* 3 filas de igual tamaño */
    gap: 40px; /* Espacio entre los elementos */
    margin-left: auto;
    margin-right: auto;
}

.caja_pelicula{
    background-color: teal;
    width: 340px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px solid #060613;
}

.caja_pelicula:hover{
    border: 2px solid white;
    cursor: pointer;
}

.pelicula-1{
    background-image: url(/sources/pelicula-1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}